DEBUG=True
DB_HOST=127.0.0.1
DB_PORT=13306
DB_NAME=dev
DB_USER=dev
DB_PASSWORD=1234

REDIS_URL=redis://127.0.0.1/0

APP_PORT=10000
APP_SHORT_URL_PREFIX="http://localhost:10000/shortUrl/"
DJANGO_SECRET="django-insecure--%%*35gr3s#xnzwqpj%=k&26%d8y^5x&79aony-z3+tl#j%+5g"
ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost
USE_X_FORWARDED_HOST=False
SECURE_PROXY_SSL_HEADER="HTTP_X_FORWARDED_PROTO, https"
TIME_ZONE=UTC

# Celery config
CELERY_TIMEZONE=UTC
CELERY_TASK_TRACK_STARTED=True
CELERY_TASK_TIME_LIMIT=1800
CELERY_BROKER_URL=redis://127.0.0.1/1
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
## Configure result backend if needed
CELERY_CACHE_BACKEND=default
CELERY_RESULT_BACKEND=redis://localhost:6379/2
CELERY_RESULT_SERIALIZE=json
CELERY_RESULT_EXPIRES=3600

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
